<div class="container py-2 px-0">
    <div class="row align-items-center">
        <div class="row col-auto align-items-center me-auto">
            <div class="col-auto pe-0">
                <img src="assets/icons/avatar.svg"/>
            </div>
            <div class="col-auto">
                <app-button label="Разместить объявление"></app-button>
            </div>
        </div>
        <div class="row col-auto align-items-center">
            <div class="col icon me-3" style="mask-image: url('/../../../assets/icons/magnifier.svg');"></div>
            <div class="col icon me-3" style="mask-image: url('/../../../assets/icons/heart.svg');"></div>
            <div class="col icon" style="mask-image: url('/../../../assets/icons/chat.svg');"></div>
            <div class="col"><app-button label="Войти"></app-button></div>
        </div>
    </div>
</div>
