@import "./search.component.scss";
input:focus, input{
    border: 0;
    outline: 0;
}
.border{
    height: 55px;
    overflow: hidden;
}
.border:has(input:active){
    border: black 1px solid;
}
.border:has(input:focus){
    border: 1px var(--dark-green-color) solid !important;
}
.border:has(input:focus) > app-button{
    background-color: var(--dark-green-color);
}
svg{
    fill: var(--gray-color);
    cursor: pointer;
}